<a href="https://colab.research.google.com/github/SaiVarun1125/Big-Data-Analytics/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1

In [1]:
ages=[19,22,19,24,20,25,26,24,25,24]

In [3]:
#importing statistics module to work with mathemetical functions.
from statistics import *
#finding median
median(ages)

24.0

In [7]:
#finding minimum value in ages
min(ages)

19

In [8]:
#finding the maximum value in ages
max(ages)

26

In [10]:
len(ages)

10

In [13]:
#finding average of ages
n=len(ages)
a=0
#using for loop to find the sum of all values.
for i in ages:
  a=a+i
#diving the sum of values with the number of values.
b=a/n
b

22.8

In [15]:
#finding the range
range=max(ages) - min(ages)
range

7

In [20]:
ages

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26, 19, 26]

In [21]:
#appending the minimun and maximum values from ages to end of the list.
x=min(ages)
y=max(ages)
ages.append(x)
ages.append(y)
ages

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26, 19, 26, 19, 26]

Question 2

In [22]:
#declaring a distionary called dog and initializing its values.
dog={"name":"Scooby",
     "color":"Brown",
     "breed":"Husky",
     "legs":4,
     "age":8
     }
dog

{'name': 'Scooby', 'color': 'Brown', 'breed': 'Husky', 'legs': 4, 'age': 8}

In [37]:
#declaring a distionary called student and initializing its values.
student={
    "first_name":"Venkata",
    "last_name":"Mooraboina",
    "gender":"Male",
    "age":21,
    "marital_status":"Single",
    "skills":["Pragrammer', 'Cricketer","software engineer"],
    "country":"India",
    "city":"Hyderabad",
    "address":"Vanasthalipuram"
}
print(student)

{'first_name': 'Venkata', 'last_name': 'Mooraboina', 'gender': 'Male', 'age': 21, 'marital_status': 'Single', 'skills': ["Pragrammer', 'Cricketer", 'software engineer'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Vanasthalipuram'}

In [38]:
#printing number of key value pairs in student.
len(student)

9

In [39]:
#printing skills and the datatype of skills.
out=student['skills']
print(out)
type(out)

["Pragrammer', 'Cricketer", 'software engineer']

list

In [40]:
#adding a new skill to the existing skills list.
student['skills'].append('trader')
student['skills']

["Pragrammer', 'Cricketer", 'software engineer', 'trader']

In [43]:
#printing all the student keys.
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])

In [44]:
#Printing all student values.
student.values()

dict_values(['Venkata', 'Mooraboina', 'Male', 21, 'Single', ["Pragrammer', 'Cricketer", 'software engineer', 'trader'], 'India', 'Hyderabad', 'Vanasthalipuram'])

Question 3

In [73]:
#initializing variables.
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [74]:
#printing number of elelments in it_companies.
len(it_companies)

7

In [75]:
#Removing Facebook from it_companies.
it_companies.remove("Facebook")
it_companies

{'Amazon', 'Apple', 'Google', 'IBM', 'Microsoft', 'Oracle'}

In [76]:
#adding Twitter to it_comapnies.
it_companies.add("Twitter")
it_companies

{'Amazon', 'Apple', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Twitter'}

In [77]:
#Adding multiple companies from more_companies to it_companies
more_companies={"Flipkart","Phonepe","SunNetworks"}
it_companies.update(more_companies)
it_companies

{'Amazon',
 'Apple',
 'Flipkart',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Phonepe',
 'SunNetworks',
 'Twitter'}

In [83]:
import collections

What is the difference between remove and discard?

remove method is used to remove a specified element form a set, and raise errors if the element not found "KEY ERROR". discard method is same as remove but this won't raise any errors.

In [88]:
#Joining A and B
C=A|B
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [91]:
#A intersection B
D=A.intersection(B)
D

{19, 20, 22, 24, 25, 26}

In [95]:
#Checking A subset of B
E=A.issubset(B)
E

True

In [96]:
#Checking are A and B disjoint sets
F=A.isdisjoint(B)
F

False

In [99]:
#Joining A with B
A=A|B
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [100]:
#Joining B with A
B=B|A
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [103]:
#Symmetric  difference between A and B
A.symmetric_difference(B)

set()

In [104]:
#Deleting two sets
del(A)
del(B)

In [109]:
#Converting the ages to a set and compare the length of the list and the set
l=len(age)
s=set(age)
print("lenght:",len(s))
print(l)

lenght: 5
8

Question 4

In [15]:
# Define the base class Employee
class Employee:
  no_of_Emp=0
  avg=0
  def __init__(self,name,family,salary,department):
    self.name=name
    self.family=family
    self.salary=salary
    self.department=department
    # Increment employee count when an instance is created

    Employee.no_of_Emp += 1
    print(name,family,salary,department)

  def avg_sal(self,salary):
    self.salary=salary
    avg=salary/no_of_Emp
    print(avg)

class Fulltime (Employee):
  def __init__(self, name, family, salary, department):
    # Call the parent class constructor using super()
    super().__init__(name, family, salary, department)

  def inheri(self):
    self.name
    Employee.avgsal(name)

# Create instances of Employee and FulltimeEmployee classes
emp1=Employee("Sai","ram",40000,"Front-end")
emp2=Fulltime("Venkata","Sai",80000, "HR")

Sai ram 40000 Front-end
Venkata Sai 80000 HR